/*entry css*/
@import url("~normalize.css");

@media(device-width: 768px) and (device-height: 1024px){
  ::-webkit-scrollbar {
    -webkit-appearance: none !important;
    width: 7px !important;;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px !important;;
    background-color: rgba(0,0,0,.5) !important;;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5) !important;;
  }
}

@font-face {
  font-family: 'Futura';
  src: local('fonts'), url(./fonts/Futura-Medium.woff) format('woff');
}

body{
  font-size: 13px!important;
  font-family: Futura,Trebuchet MS,Arial,sans-serif!important;
}

a{
  color: #1B9ED3 !important;
}

#page-wrap {
  overflow: hidden !important;
  padding: 0 !important;
}

#about-us{
  width:100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index:999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  transition: opacity .5s ease-in-out,visibility .5s ease-in-out;
}

#contact{
  width:100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index:999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
  transition: opacity .5s ease-in-out,visibility .5s ease-in-out;
}


.info{
  overflow-y:auto!important;
  width:100% !important;
  height:100% !important;
}
.info p {
  text-align: left;
}


.info1{
  width:100% !important;
  height:100% !important;
  overflow-y:auto!important;
}
.info1 p{
  text-align: left;
}

.text-area{
  width: 40vw;
  height: 80%;
  left: 30% !important;
  position: absolute;
  top:10%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave{
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}


.closeInfo{
  right:40px;
  top:40px;
  position: fixed;
  color:#999
}

.inline-image{
  height: 45px;
  position: fixed;
  left:40px;
  top:20px;
  z-index: 9;
}

.axon-box{
  height: 500px;
  width: 360px;
  position: absolute;
  top:40px;
  right:0;
  z-index: 9;
  padding: 0!important;
  object-fit: fill !important;
}

.info1 .text-box{
  height: 500px;
  width:calc(100% - 390px);
  position: absolute;
  left: 0;
  top:80px;
  z-index: 9;
  padding: 0!important;
  font-size: 13px!important;
  overflow-y: auto;
}

.text-area1{
  width: 60vw;
  max-width: 800px;
  height: 80%;
  left:50%;
  transform: translate(-50%,0);
  position: absolute;
  top:10%;
}

img {
  object-fit:cover;
}